server:
  port: 8083

spring:
  application:
    name: cart-service

  datasource:
    url: jdbc:mysql://localhost:3306/cartdb
    username: root
    password: Sourabh@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: mySuperSecureJwtSecretKeyForHS256Algorithm123456

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: cart-service-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

